[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rafaelludtke
[access "refs/for/refs/*"]
	read = group user/rafaelludtke
	push = group user/rafaelludtke
	label-Code-Review = -2..+2 group user/rafaelludtke
	label-Verified = -1..+1 group user/rafaelludtke
	rebase = group user/rafaelludtke
	removeReviewer = group user/rafaelludtke
	submit = group user/rafaelludtke
[access "refs/heads/*"]
	read = group user/rafaelludtke
	create = group user/rafaelludtke
	push = +force group user/rafaelludtke
	pushMerge = group user/rafaelludtke
[access "refs/tags/*"]
	push = +force group user/rafaelludtke
	pushTag = group user/rafaelludtke
	pushSignedTag = group user/rafaelludtke
